[submodule "sugar_network/lib/pylru"]
	path = sugar_network/lib/pylru
	url = https://github.com/jlhutch/pylru.git
[submodule "sugar_network/lib/requests"]
	path = sugar_network/lib/requests
	url = git://git.sugarlabs.org/network/requests.git
[submodule "tests/regression/production"]
	path = tests/regression/production
	url = git://git.sugarlabs.org/network/network.git
