[submodule "sugar_network/lib/zeroinstall-injector"]
path = sugar_network/lib/zeroinstall-injector
url = git://git.sugarlabs.org/0sugar/zeroinstall-injector.git
[submodule "sugar_network/lib/pylru"]
	path = sugar_network/lib/pylru
	url = git://github.com/jlhutch/pylru.git
